<div class="card bg-dark text-light my-3">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <form #clienteForm="ngForm">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" name="nombre" class="form-control" [(ngModel)]="cliente.nombre" required
                        minlength="4" #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors?.required">
                            El campo nombre es requerido
                        </div>
                        <div *ngIf="nombre.errors?.minlength">
                            El campo nombre debe tener al menos 4 caracteres
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" name="apellido" class="form-control" [(ngModel)]="cliente.apellido" required
                        #apellido="ngModel">
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (nombre.dirty || apellido.touched)">
                        <div *ngIf="apellido.errors?.required">
                            El campo apellido es requerido
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="email" name="email" [email]="true" class="form-control" [(ngModel)]="cliente.email" required
                        #email="ngModel">
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors?.required">
                            El campo email es requerido
                        </div>
                        <div *ngIf="email.errors?.email">
                            Formato invalido
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()'
                        *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>